# Base API URL
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1

# Better Auth configuration 
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth

DATABASE_URL="postgres://postgres:password@localhost:5432/turbo-template"

